<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>${project.parent.organization.name}</author>
	<description>${project.parent.description}</description>

	<activator>org.openmrs.module.authentication.AuthenticationModuleActivator</activator>

	<require_version>${openmrsVersion}</require_version>

	<!--
		In OpenMRS 2.6+, module filter execution is based on module loading order
		By making this module aware of fhir2 and webservices.rest, we ensure that it's authenticationFilter
		will run _before_ the corresponding filters in those modules, which ensures that authentication using
		custom authentication schemes can happen appropriately before a request is handled by these modules
		See:  <a href="https://issues.openmrs.org/browse/TRUNK-6054">TRUNK-6054</a>
	-->
	<aware_of_modules>
		<aware_of_module>org.openmrs.module.fhir2</aware_of_module>
		<aware_of_module>org.openmrs.module.webservices.rest</aware_of_module>
	</aware_of_modules>

	<!-- Order of filters is important and the cookie clearing filter should come before the authentication filter -->
	<filter>
		<filter-name>cookieClearingFilter</filter-name>
		<filter-class>org.openmrs.module.authentication.web.CookieClearingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>authenticationFilter</filter-name>
		<filter-class>org.openmrs.module.authentication.web.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>ht</lang>
		<file>messages_ht.properties</file>
	</messages>

</module>
